@page "/SearchResult"
@using MyLibrary.GUI.Pages
@model SearchModel
@{
    ViewData["Title"] = "Sökresultat";
}
<h1>@ViewData["Title"]</h1>
<h4>@TempData["Message"]</h4>

<table class="table">
    <thead>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {   
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table> 